body {
  font: 20px sans-serif;
  background: #1e2936;
  color:#fff;
}

.main_container{
	margin-top: 30px;
}
.btn{
    font-size:30px;
    width:100%;
    color: #fff;
    background:#80d5ff;
}


.bottom_navi{
	letter-spacing: 6px;
	margin-bottom:15px;
}

.eye_catch{
  margin-top: 30px;
  vertical-align: bottom;
}

.container{
  height: 400px;
}

.btn_back
{
  background-color: #FFFFFF;
  color: #000;
}