body {
  font: 30px sans-serif;
  background: #1e2936;
  color:#fff;
}

.btn{
    margin: 0px;
    font-size:30px;
    width:100%;
    color: #fff;
    background:#80d5ff;
}

.input-xlarge{
    margin: 0px 0px 10px 0px;
    font-size:30px;
    width:100%;
}

.txt_area{
	margin-top: 30px;
}